{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Список новостей
{% endblock title %}
{% block content %}
<h1>Список новостей</h1>
<h2>Всего новостей: {{ news_list| length }}</h2>
   <hr>
   {% if news_list %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Краткое содержание</td>
           </tr>

           {% for news_item in news_list %}
           <tr>
               <td>{{ news_item.title|censor}}</td>
               <td>{{ news_item.dateCreation| date:'d-m-Y'}}</td>
               <td>{{ news_item.text|censor|truncatechars:20 }}</td>
           </tr>
           {% endfor %}
        </table>
           {% else %}
           <h2>Новостей пока нет.</h2>
       {% endif %}

       {% comment %} Пагинация {% endcomment %}
       {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
           {% if page_obj.previous_page_number != 1 %}
               ...
               <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
           {% endif %}
       {% endif %}
    
       {# Информация о текущей странице #}
       {{ page_obj.number }}
    
       {# Информация о следующих страницах #}
       {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
           {% if paginator.num_pages != page_obj.next_page_number %}
               ...
               <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
           {% endif %}
       {% endif %}
       
    
       
{% endblock content %}